<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contacts</key>
	<array>
		<dict>
			<key>address</key>
			<string>Fremont</string>
			<key>birthDate</key>
			<string>28|82</string>
			<key>firstname</key>
			<string>Lily</string>
			<key>friends</key>
			<array>
				<integer>2</integer>
			</array>
			<key>id</key>
			<integer>1</integer>
			<key>lastName</key>
			<string>Garipova</string>
			<key>phoneNumbers</key>
			<array>
				<dict>
					<key>number</key>
					<string>718-431-5707</string>
					<key>type</key>
					<string>mobile</string>
				</dict>
				<dict>
					<key>number</key>
					<string>508</string>
					<key>type</key>
					<string>home</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>address</key>
			<string>Fremont</string>
			<key>birthDate</key>
			<string>12|83</string>
			<key>firstname</key>
			<string>Radif</string>
			<key>friends</key>
			<array>
				<integer>1</integer>
			</array>
			<key>id</key>
			<integer>2</integer>
			<key>lastName</key>
			<string>Sharafullin</string>
			<key>phoneNumbers</key>
			<array>
				<dict>
					<key>number</key>
					<string>718-290-0395</string>
					<key>type</key>
					<string>mobile</string>
				</dict>
				<dict>
					<key>number</key>
					<string>508</string>
					<key>type</key>
					<string>home</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>address</key>
			<string>Fremont</string>
			<key>birthDate</key>
			<string>03|06</string>
			<key>firstname</key>
			<string>Camille</string>
			<key>friends</key>
			<array>
				<integer>2</integer>
				<integer>1</integer>
			</array>
			<key>id</key>
			<integer>3</integer>
			<key>lastName</key>
			<string>Garipova</string>
			<key>phoneNumbers</key>
			<array>
				<dict>
					<key>number</key>
					<string>777-888-555</string>
					<key>type</key>
					<string>mobile</string>
				</dict>
				<dict>
					<key>number</key>
					<string>508</string>
					<key>type</key>
					<string>home</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>address</key>
			<string>Fremont</string>
			<key>birthDate</key>
			<string>11|09</string>
			<key>firstname</key>
			<string>Adele</string>
			<key>friends</key>
			<array>
				<integer>3</integer>
				<integer>1</integer>
			</array>
			<key>id</key>
			<integer>4</integer>
			<key>lastName</key>
			<string>Garipova</string>
			<key>phoneNumbers</key>
			<array>
				<dict>
					<key>number</key>
					<string>777-333-555</string>
					<key>type</key>
					<string>mobile</string>
				</dict>
				<dict>
					<key>number</key>
					<string>508</string>
					<key>type</key>
					<string>home</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
